timer.dat
timer.dat
all_dataset/.DS_Store
all_dataset/review/.DS_Store
.DS_Store

test.csv
all_dataset/review/cbs_me_review.xlsx
all_dataset/review/alpine_review.xlsx
all_dataset/review/cbs_me_review.xlsx
all_dataset/review/cbs_nbu_review.xlsx
all_dataset/review/cbs_me_review.xlsx
all_dataset/review/cbs_me_review.xlsx
all_dataset/review/cbs_me_review.xlsx
arranged_dataset/review/alpine_review.xlsx
arranged_dataset/review/cbs_sime3_review.xlsx
CoMFA_model_lib/timer.dat
CoMFA_model_lib/__pycache__/calculate_conformation.cpython-38.pyc
parameter/run/cube_to_grid0.250705_review.txt
parameter/run/cube_to_grid0.500705_review.txt
sampledata/sample_0425/~$cbs_review_0621.xlsx
sampledata/sample_0425/cbs_review_0621.xlsx
CoMFA_model_lib/__pycache__/calculate_conformation_review.cpython-38.pyc
__pycache__/
CoMFA_model_lib/timer.dat
CoMFA_model_lib/__pycache__/calculate_conformation.cpython-38.pyc
__pycache__/
*.pyc

CoMFA_model_lib/timer.dat
